h1 {
  color: red;
  background-color: skyblue;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
h3 {
  color: white;
  background-color: rgb(252, 8, 8);
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
p {
  color: rgb(31, 1, 1);
  background-color: rgb(1, 77, 86);
  text-align: justify;
  padding: 10px;
  font-size: 20px;
}
