h1 {
  color: red;
  background-color: skyblue;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
h3 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
